<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://prac08bmvb.documents.azure.com:443/" />
        <add key="accountKey" value="HjkQKc179mjk0eTWD6XpTOoERehBoLtWYHuN9iWIpkHZ2cfcuQAmXBXB3mvT6aNAAEgaCqx95H9Ocj8NOocrVg==" />
      </appSettings>
</configuration>